.align-middle {
    display: inline-block;
    vertical-align: middle;
}

.center-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-bottom: 0;
}

.m-auto {
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mr-2 {
    margin-right: 20px;
}

.pb-2 {
    padding-bottom: 20px;
}
